body {
  content: '';
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
background-attachment: fixed;
color: rgb(245, 255, 250);
font-family: Perpetua;
font-size: 24px;
}

h1, p {
text-align: center;
}

h1 {
margin-top: 2rem;
margin-bottom: 0;
}

p {
margin-top: 0;
margin-bottom: 2rem;
}

.established {
font-style: italic;
}

form {
background-color: rgba(27, 27, 50, 0.8);
color: rgb(245, 255, 250);
border-radius: 5px;
width: 60vw;
max-width: 700px;
min-width: 350px;
margin: 0 auto;
padding: 15px 15px 25px 15px;
}

label {
display: block;
}

fieldset {
border: none;
}

input,
select,
textarea {
width: 100%;
margin: 0.1em 0 1em 0;
min-height: 2em;
font-size: 0.67em;
}

option{
font-size: 1em;
background-color: rgb(112, 112, 136);
}

input,
select {
border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="number"] {
background-color: #1c1c52;
border: 0;
color: rgb(245, 255, 250);
}

select{
  background-color: #1c1c52;
  border: 0;
  color: rgb(245, 255, 250);
}

textarea {
min-height: 6.33em;
resize: vertical;
background-color: #1c1c52;
color: rgb(245, 255, 250);
}

input[type="submit"] {
background-color: rgb(27, 18, 56);
color: rgb(245, 255, 250);
font-size: 1.33rem;
min-height: 2.5em;
}

input[type="submit"]:hover {
outline: none !important;
border: 2px solid rgb(0, 255, 255);
box-shadow: 0 0 10px rgb(0, 127, 127);
cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
outline: none !important;
box-shadow: 0 0 7px rgb(0, 255, 255);
}

.inline {
width: unset;
margin: 0 0.5em 0 0;
min-height: unset;
vertical-align: middle;
}
